.app-container {
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start ;
  gap: 20px 30px;
}

.app-container .button-create-card {
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid rgba(255, 0, 0, 0.339);
  border-radius: 25px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.452);  
  width: 180px;
  height: 55px;
  transition: transform .15s ease;
}

@media only screen and (min-width: 460px) {
  .app-container .button-create-card {
    position:fixed;
    right: 0;
    bottom: 0;
    margin: 50px 50px;
  }
}

@media only screen and (max-width: 450px) {
  .app-container {
    padding: 10px 20px;
    justify-content: center;
    background-color: purple;
  }

  .app-container .button-create-card {
    position: fixed;
    bottom: 40px;
    transform: translateX(-50%);
  }
}